.title-color {
  background: #506fbc;
  color: #fff;
}
.main {
  width: 100%;
  background: linear-gradient(-45deg, #fff, #f8f8f8, #e7e7e7, #e6f2f2);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  .nav {
    position: fixed;
    top: 0;
    z-index: 9995;
  }
  .container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .left-container {
      width: 30%;
      margin-left: 30px;
      .title {
        text-align: left;
        line-height: 47px;
        padding-left: 30px;
        .title-color;
      }
      .list {
        .list-box {
          text-align: left;
          background-color: #fff;
          .list-item {
            line-height: 66px;
            font-size: 14px;
            box-sizing: border-box;
            border-bottom: 1px solid #f3f5f7;
            padding-left: 30px;
            &:hover {
              background-color: #fafafa;
            }
          }
        }
      }
    }
    .right-container {
      background-color: #fff;
      width: 60%;
      margin-right: 30px;
      /deep/ .is-leaf {
        .title-color;
      }
    }
  }
}
/deep/ .el-dialog {
  .el-dialog__body {
    padding: 20px;
    div {
      text-align: left;
      font-size: 16px;
      margin: 10px 0;
    }
  }
}