a {
  text-decoration: none;
}
#app {
  // background: linear-gradient(-45deg, #ffc0cb,#e1ffff, #e6e6fa, #afeeee);
  // background-size: 400% 400%;
  // animation: Gradient 15s ease infinite;
  // @keyframes Gradient {
  //   0% {
  //     background-position: 0% 50%;
  //   }
  //   50% {
  //     background-position: 100% 50%;
  //   }
  //   100% {
  //     background-position: 0% 50%;
  //   }
  // }
  background: url('//img.anlan.xyz/anlan/bg2.jpeg');
  background-size: 100%;
}
.el-message {
  z-index: 10000 !important;
}
.el-table {
  &::before {
    display: none;
  }
  .el-table__header-wrapper {
    .el-table__header {
      th {
        border: none;
      }
    }
  }
  .el-table__body-wrapper {
    .el-table__body {
      tr {
        td {
          border: none;
          padding: 0;
          min-height: 60px;
          .cell {
            line-height: 60px;
            padding: 0;
          }
        }
      }
    }
  }
  .ascending {
    .sort-caret.ascending{
      border-bottom-color: #fff;
    }
  }
  .descending {
    .sort-caret.descending{
      border-top-color: #fff;
    }
  }
}
.el-pagination {
  margin: 20px;
  text-align: right;
  .el-pagination__total {
      color: #96ABC6;
      font-size: 16px !important;
  }
  .el-icon-arrow-left:before {
      color: #96ABC6;
  }
  .el-icon-arrow-right:before {
      color: #96ABC6;
  }
  .el-pagination__jump {
      color: #96ABC6;
  }
  .el-input__inner {
      color: #96ABC6;
      border: 1px solid #96ABC6;
  }
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #415A93;
  color: #fff;
}
.el-pagination.is-background .el-pager li {
  color: #96ABC6;
}
.el-image {
  padding-top: 20px;
}
.el-image-viewer__wrapper {
  z-index: 9995 !important;
}
.el-icon-circle-close {
  color: yellow;
}