.home {
  width: 100%;
  .logo {
    width: 300px;
    margin-top: 50px;
  }
  .ad {
    width: 233px;
    height: 660px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    right: 30px;
    margin-top: -330px;
    &::-webkit-scrollbar {
      background: transparent;
    }
  }
}